/* Estilos padrão (modo claro e escuro) */
        body {
            background-color: #f2f2f2;
            color: black;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        h1, p {
            color: #252525;
        }

/* ELEMENTOS PRINCIPAIS */
        .top, .main, .footer {
            padding: 20px;
            text-align: center;
        }

        .top {
            height: 30px;
            /*background-color: #007bff;*/
        }

        .main {

        }

        .footer {
            height: 30px;

        }

        .main h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .main p {
            font-size: 1.2em;
        }


/* ESTILOS INTERNOS */

        .message {
            margin: 0 0 60px 0;
        }

        #notification {
            position: fixed;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            border-radius: 8px;
            display: flex;
            max-height: 65px;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 1001;
            padding: 0 20px;
        }

        #notification-message {
            font-size: 18px;
        }

        .notification-content p {
            color: #2a2a2a;
            opacity: 100;
            user-select: none;
            width: 100%;
        }


/* SIMULADOR */

        .simulator {
            background-color: #ffffff;
            border-radius: 12px; 
            padding: 5px 15px;
            max-width: 800px;
            margin: auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .simulator_section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;
            color: #121212;
        }
        
        .simulator_section_intern {
            width: calc(50% - 5px);
            margin-bottom: 10px;
            box-sizing: border-box; /* inclui padding e borda na largura */
            position: relative;
            margin: 10px 0;
        }
        

        .option {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .option input[type="radio"] {
            margin-right: 10px;
        }

        .option label {
            cursor: pointer;
        }

        .input_with_prefix {
            display: flex;
            align-items: center;
        }

        .prefix {
            padding: 8px;
            background-color: #bcbcbc;
            color: #121212;
            border: 1px solid #bcbcbc;
            font-weight: bold;
            border-right: none;
            border-radius: 8px 0 0 8px;
            font-size: 16px;
        }

        .number_input {
            flex: 1;
            background-color: #f0f0f0;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            color: #121212;
            outline: none;
            font-size: 16px;
        }
    
        /**/

        .input_with_suffix {
            display: flex;
            align-items: center;
        }
    
        
        #time_period {
            padding: 15px 10px;
            box-sizing: border-box;
            border: none;
            border-left: none;
            border-radius: 8px;
            font-size: 16px;
            outline: none;
            color: #777;
        }

        .simulator_bottom {
            display: flex;
            justify-content: end;
            margin: 0 0 10px 0;
        }

        .simularButton {
            display: flex;
            padding: 10px;
            background-color: #252525;
            color: #f1f1f1;
            border-radius: 12px;
            width: max-content;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .simularButton:hover {
            background-color: #585858;
        }

        /* Estilos responsivos para dispositivos móveis */
        @media (max-width: 700px) {
            .main h1 {
                font-size: 1.5em;
            }

            .main p {
                font-size: 1em;
            }

            .top, .main, .footer {
                padding: 15px;
            }

            .simulator_section_intern {
                width: 100%; 
            }

            .simulator_main {
                width: 100%;
            }

        }

/* Estilos responsivos para desktops */
        @media (min-width: 701px) {
            .main h1 {
                font-size: 2.5em;
            }

            .main p {
                font-size: 1.5em;
            }

            .top, .main, .footer {
                padding: 30px;
            }
        }


        .google_input_wrapper {
            position: relative;
            display: flex;
            align-items: center;
            border: 2px solid #ccc;
            border-radius: 8px;
            width: 100%;
            transition: border-color 0.3s ease;
        }

        .google_input_wrapper:hover {
            border-color: #007bff;
        }

        .google_input_container {
            position: relative;
            margin: 10px 0;
        }

        .google_prefix {
            border-right: none;
            color: #777;
            font-size: 16px;
            font-weight: 500;
            padding: 0 10px;
        }

        .google_input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 16px;
            transition: border-color 0.3s ease;
            padding: 15px;
            border-radius: 8px;
        }

        .google_label {
            position: absolute;
            top: -8px;
            left: 15px;
            background-color: white;
            padding: 0 5px;
            color: #777;
            font-size: 14px;
            font-weight: 500;
            z-index: 1;
        }

        /**/

        .simulator_section_intern {
            margin: 20px 0;
        }
        .option {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
        .option input[type="radio"] {
            display: none;
        }
        .option label {
            font-size: 16px;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 20px;
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
        }
        .option label:hover {
            background-color: #e8e8e8;
        }
        .option input[type="radio"]:checked + label {
            background-color: #007bff;
            color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .option input[type="radio"]:checked + label::before {
            content: "\2022";
            font-size: 18px;
            margin-right: 10px;
        }


/* TEMA DARK */

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #181818;
                color: rgb(255, 255, 255);
            }

            h1, p, label {
                color: #ffffff;
            }

            .simulator_section_intern p, label {
                color: #c7c7c7;
            }

            .simulator, input {
                background-color: #272727;
                color: #ffffff;
            }

            #time_period {
                background-color: #272727;
                color: #c7c7c7;
            }

            .google_input_wrapper {
                border: 2px solid #c7c7c7;
            }
            
            .google_prefix {
                color: #c7c7c7;
            }

            .google_label {
                color: #c7c7c7;
                background-color: #272727;
            }

            .simularButton {
                background-color: #fff;
                color: #191919;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            
            .simularButton:hover {
                background-color: #bcbcbc;
            }

            .simulator_section_intern {
                margin: 20px 0;
            }
            .option {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
            .option input[type="radio"] {
                display: none;
            }
            .option label {
                font-size: 16px;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 20px;
                transition: background-color 0.3s ease;
                display: flex;
                align-items: center;
            }
            .option label:hover {
                background-color: #454545;
            }
            .option input[type="radio"]:checked + label {
                background-color: #007bff;
                color: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .option input[type="radio"]:checked + label::before {
                content: "\2022";
                font-size: 18px;
                margin-right: 10px;
            }
        }


